.post-card-container {
    padding: 24px;
    background-color: var(--card-color);
    border-radius: 8px;
    max-width: 200px;
    max-height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
        border-radius: 8px;
        border: 1px solid var(--primary-color0);
    }

    .image-placeholder {
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
        border-radius: 8px;
        background-color: #bfd8ff;
        position: relative;

        div {
            background: linear-gradient(to right, #bfd8ff,  var(--card-color), #bfd8ff);
            position: absolute;
            height: 1px;

            &:first-child {
                top: 40%;
                left: 10%;
                right: 20%;
                
            }

            &:last-child {
                top: 60%;
                left: 20%;
                right: 10%;       
            }
        }
    }

    .title {
        font-size: 24px;
        margin-bottom: 24px;
        color: var(--header-color);
    }

    .text {
        font-size: 18px;
        margin-bottom: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .date {
        font-size: 16px;
        color: var(--primary-color2);
    }


}