@import "./styles/colors.scss";
@import "./styles/global.scss";

.app {
    position: relative;

    .app_page {
        position: relative;
    }

    .app__main {
        margin-left: 300px;
    }

}