.posts-container {
    margin: 48px;

    .cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    .posts-filter {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }
}