.posts-container {
    padding: 48px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .toggle-button {
        position: absolute;
        top: 8px;
        right: 48px;
    }

    .cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    .posts-filter {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        gap: 16px;
        margin-bottom: 24px;
        padding: 24px;
        flex-wrap: wrap;
    }
}