.image-placeholder {
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: #bfd8ff;
    position: relative;

    div {
        background: linear-gradient(to right, #bfd8ff,  var(--card-color), #bfd8ff);
        position: absolute;
        height: 1px;

        &:first-child {
            top: 40%;
            left: 10%;
            right: 20%;
            
        }

        &:last-child {
            top: 60%;
            left: 20%;
            right: 10%;       
        }
    }
}