.app-container {
  background-color: var(--background-color);
  min-height: 100vh;
  
  padding-top: 60px;
}

.center__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}