.posts-container {
    margin: 48px;

    .pagination {
        margin: 0 auto 24px;
        display: flex;
        align-items: center;
    }

    .cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }
}