.buttonTheme {
    margin: 24px;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .5;
    }

    &.red {
        background-color: red;
        color: white;
    }

    &.green {
        background-color: green;
        color: white;
    }
}