div.users-page-card {
    margin: 16px;

    background-color: var(--background-card);

    cursor: pointer;

    .avatar {
        max-width: 100px;
        border-radius: 10px;
    }

    .name {
        display: block;
        margin-top: 8px;
    }

}