<script>
    customElements.define("user-info", class extends HTMLElement {
        connectedCallback() {
            alert(this.innerHTML);
        }
    });
</script>
    
<user-info>Джон</user-info>


<!--  -->



<script>
    customElements.define('user-info', class extends HTMLElement {
        connectedCallback() {
            alert(`${this.id} connected.`);
            setTimeout(() => alert(`${this.id} initialized.`));
        }
    });
</script>
    
<user-info id="outer">
    <user-info id="inner"></user-info>
</user-info>