.header {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 999;

    .link {
        cursor: pointer;
        color: white;
    

        &:hover {
            color: #aaaaaa
        }
    }

    button {
        cursor: pointer;
    }

    .time {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
    }
}