header.header {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-header);
    color: white;  //TODO replece with var
    z-index: 999;

    .header-item {
        margin: 0 16px;
    }

    .link {
        cursor: pointer;
        color: white;
    

        &:hover {
            color: #aaaaaa
        }
    }

    button {
        cursor: pointer;
    }

    .theme-icon {
        width: 24px;
        fill: white;
        cursor: pointer;
    }

    .time {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
    }
}