.text-field-container {

    .label {
        margin-bottom: 4px;
        color: var(--header-color);
        font-size: 16px;
    }


    .input {
        border: 1px solid var(--primary-color2);
        border-radius: 16px;
        padding: 8px 16px;
        outline: none;

        &:hover {
            border-color: var(--primary-color1);
        }

        &:focus {
            border-color: var(--primary-color0);
            outline: 1px solid var(--primary-color0);
        }
    }
}